body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(images/background.png);
    background-size: 100%;
    background-color: white;
}

div.content {
    background: #FFFFFF99;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    border: 2px solid #FF4500;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 3px 6px rgb(0 0 0 / 22%);
    margin: 40px 0 0 0;
}

.main_page_text {
    margin: 20px;
    color: #FF4500;
    text-align: center;
    font-size: 1.4vw;
}

a{
    font-size: 1.2vw;
}

h1.main_page_welcome_text {
    font-size: 1.8vw;
    text-align: center;
    color: #FF4500;
}

.photo {
    margin-top: 3%;
}

.form-contact {
    background: #FFFFFF99;
    width: 15%;
    border-radius: 5px;
    margin-top: 15%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    font-size: 1.8vw;
}
.label {
    padding: 2%;
}

.input input{
    width: 40%;
    height: auto;
    padding: 5px 10px 5px 10px;
    margin: 3%;
    border-radius: 5px;
    border-width: 0px;
}

.submit_button input{
    margin: 5% auto;
    width: 28%;
    padding: 2%;
    border-radius: 5px;
    border-width: 0px;
}