{% extends 'base.html' %}
{% block body %}

<div class="form-contact">
    <div class="label">Log in</div>
    <form action="/login" method="post">
        <div class="input">
            <label>Nickname or email:</label>
            <div>
                <input type="text" name="nickname" value="" required />
            </div>
            <label>Password:</label>
            <div>
                <input type="password" name="psw" value="" required />
            </div>
        </div>
        <div class="submit_button">
            <input type="submit" value="Login">
        </div>
    </form>

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <a href="/registration">Log on</a>
</div>

{% endblock %}